<h1 class = "mt-5 text-center">My bookings</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <%@bookings.each do |booking|%>
        <p><%= booking.booking_date%></p>
        <% end %>
    </div>
  </div>
</div>
