<h1 class="text-center my-5 mx-3">Edit <%= @animal.name %></h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "form", animal: @animal %>
      <%= link_to "âŽ Back", my_animals_path %>
    </div>
  </div>
</div>
