.card-animal {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-animal > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-animal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-animal p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-animal a {
  text-decoration: none;
  color: #564C4D;
  margin: 4px;

  &:hover {
    color: rgb(124, 127, 144)
  }
}

.card-animal .card-animal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-animal-infos a {
  text-decoration: none;
  color: #564C4D;

  &:hover {
    color: rgb(124, 127, 144)
  }
}


.cards-animal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 0.3s;
  // transition-timing-function: ease-in-out;
  }

// CARDS PRODUCT

.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .card-product-infos a {
  text-decoration: none;
  color: #564C4D;

  &:hover {
    color: rgb(124, 127, 144)
  }
}
